version: "3.7"

services:
  frontend:
    build:
      context: .
      dockerfile:
        ./frontend/Dockerfile-prod
    ports:
      - 80:80
      - 443:443
    networks:
      - mynet

  backend:
    ports:
      - 3001:3001
    build:
      context: .
      dockerfile:
        ./backend/Dockerfile-prod
    networks:
      - mynet

networks:
  mynet:
